body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #25676B;
    color: #fff;
  }
  
  .logo img {
    max-height: 40px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    .menu {
      display: none;
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: #25676B;
      padding: 10px;
      border-radius: 5px;
    }
    .menu li {
      display: block;
      margin: 10px 0;
    }
    .menu li:first-child {
      margin-top: 0;
    }
    .menu-toggle input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
  }
  
  #resultsContainer {

    margin-left:30px;
  }

  #resultsContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  #resultsContainer li {
    display: inline-block;
    margin: 5px; /* Adjust margin as needed */
    flex: 0 0 150px; /* Set a fixed width for each item */
  }
  
  /* Style for buttons with the special-button class */
  .special-button {
    margin-top: 30px;
    margin-right: 30px;
    width: 175px;
    height: 175px;
    background-color: #0e8086; /* Red background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center text within the button */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide text overflow */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    filter: drop-shadow(7px 7px 3px #25676B);
    word-break: break-word;
  }
  
  /* Style for buttons with long text */
  .special-button.long-text {
    white-space: normal; /* Allow text to wrap */
  }

  .special-button:hover {

    transform: scale(1.2);
    transition: transform 0.3s;
  }
  

  
